@model PiDevCRM.Domain.Entities.Pack

<div>
    <h4>Pack</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.PackName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPack }) |
    @Html.ActionLink("Back to List", "Index")
</p>
